<h1>List of all traders</h1>
<div class="row">
  <div class="col-9">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Trader Email</th>
          <th scope="col">Trader Account Status</th>
          <th scope="col"></th>
          <th scope="col"</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <th scope="row"><%= link_to user.email, user, class: "user-email" %></th>
            <td>
              <% if user.approved? %>
                Approved
              <% else %>
                Pending approval
              <% end %>
            </td>
            <td><%= link_to "Show", user %></td>
            <td><%= link_to "Edit", edit_user_path(user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
