<h1>Trader Accounts with Pending Approval</h1>
<div class="row">
  <div class="col-9">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Trader Email</th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <th scope="row"><%= link_to user.email, user, class: "user-email" %></th>
            <td>
                <%= form_with(url: approve_trader_path, method: :patch, class: "rounded", local: true) do |f| %>
                    <%= f.hidden_field :user_id, :value => user.id %>
                    <%= f.submit "Approve", class: "btn btn-success btn-sm" %>
                <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>