<div class="mainContainer">
    
    <div class="formContainer">
        <div class="pageTitle"><%= @user.email %></div>
    </div>

    <div class="allButtons">
        <div class="smallLink">
            <%= link_to "Edit", edit_user_path(@user) %>
        </div>
    </div>
</div>